init.author.name=mamzil
init.author.email=marwane.amzil-ext@savoye.com
email=marwane.amzil-ext@savoye.com
always-auth=true
@nexus:registry=https://nexus.kiscloud.io/content/repositories/npm-public/
registry=https://registry.npmjs.org/
//nexus.kiscloud.io/content/repositories/npm-public/:_auth=<credtBase64>